
$stroke-default: 1px;
$stroke-0: 0;
$stroke-none: 0;
$stroke-1: 1px;
$stroke-2: 2px;
$stroke-4: 4px;
$stroke-8: 8px;

$radius-default: 0.25rem;
$radius-none: 0;
$radius-sm: 0.125rem;
$radius-md: 0.25rem;
$radius-lg: 0.5rem;
$radius-full: 9999px;
